In [47]:
import pandas as pd 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
from datetime import datetime, timedelta

In [48]:
train = pd.read_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\train.csv')
test = pd.read_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\test.csv')

In [49]:
test.loc[:,'TYPE'] = 'test'
train.loc[:,'TYPE'] = 'train'

In [50]:
comb = pd.concat([train, test])

In [51]:
# Impute missing values in Artist Reputation as 0
comb['Artist Reputation'].fillna(0, inplace = True)

comb['Height'].fillna(0, inplace = True)
comb['Width'].fillna(0, inplace = True)
comb['Weight'].fillna(0, inplace = True)

comb['Material'].fillna('Unknown', inplace = True)

In [52]:
comb['Transport'].fillna('Unknown', inplace = True)

comb['Remote Location'].fillna('Unknown', inplace = True)

In [53]:
comb['Scheduled Date'] = pd.to_datetime(comb['Scheduled Date'])
comb['Delivery Date'] = pd.to_datetime(comb['Delivery Date'])

In [54]:
comb['Day Diff'] = comb['Scheduled Date'] - comb['Delivery Date']
comb['Day Diff'] = comb['Day Diff'].astype(str)
comb[['Day', 'Unit']] = comb['Day Diff'].str.split(' ', 1, expand=True)

In [55]:
comb.drop(['Customer Id', 'Artist Name','Day Diff', 'Unit'], axis = 1, inplace = True)
comb['Cost']= abs(comb['Cost'])
comb['Day'] = comb['Day'].astype('int')

In [38]:
comb.head(3)

,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost,TYPE,Day
0,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,2015-06-07,2015-06-03,"New Michelle, OH 50777",283.29,train,4
1,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,2017-03-06,2017-03-05,"New Michaelport, WY 12072",159.96,train,1
2,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,2015-03-09,2015-03-08,"Bowmanshire, WA 19241",154.29,train,1

In [56]:

cols = ['Material', 'International', 'Express Shipment', 'Installation Included',
       'Transport', 'Fragile', 'Customer Information', 'Remote Location']
for i in cols:
    d = pd.get_dummies(comb[i], drop_first = True, prefix=i, prefix_sep='_')
    comb = pd.concat([comb, d], axis = 1)
    comb.drop([i], axis =1, inplace = True)

In [57]:
comb.drop(['Customer Location', 'Scheduled Date', 'Delivery Date'], axis = 1, inplace = True)
comb.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost,TYPE,Day,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Unknown,Material_Wood,International_Yes,Express Shipment_Yes,Installation Included_Yes,Transport_Roadways,Transport_Unknown,Transport_Waterways,Fragile_Yes,Customer Information_Working Class,Remote Location_Unknown,Remote Location_Yes
0,0.26,17.0,6.0,4128.0,13.91,16.27,283.29,train,4,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0
1,0.28,3.0,3.0,61.0,6.83,15.00,159.96,train,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,0.07,8.0,5.0,237.0,4.96,21.18,154.29,train,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,1
3,0.12,9.0,0.0,0.0,5.81,16.31,161.16,train,4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,0.15,17.0,6.0,324.0,3.18,11.94,159.23,train,4,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0

In [58]:
train_pros = comb.loc[comb['TYPE'] == 'train']
test_pros = comb.loc[comb['TYPE'] == 'test']

In [66]:
train_pros.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost,Day,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Unknown,Material_Wood,International_Yes,Express Shipment_Yes,Installation Included_Yes,Transport_Roadways,Transport_Unknown,Transport_Waterways,Fragile_Yes,Customer Information_Working Class,Remote Location_Unknown,Remote Location_Yes
0,0.26,17.0,6.0,4128.0,13.91,16.27,283.29,4,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0
1,0.28,3.0,3.0,61.0,6.83,15.00,159.96,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,0.07,8.0,5.0,237.0,4.96,21.18,154.29,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,1
3,0.12,9.0,0.0,0.0,5.81,16.31,161.16,4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,0.15,17.0,6.0,324.0,3.18,11.94,159.23,4,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0

In [68]:
test_pros.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Day,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Unknown,Material_Wood,International_Yes,Express Shipment_Yes,Installation Included_Yes,Transport_Roadways,Transport_Unknown,Transport_Waterways,Fragile_Yes,Customer Information_Working Class,Remote Location_Unknown,Remote Location_Yes
0,0.35,53.0,18.0,871.0,5.98,19.11,-3,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0
1,0.67,7.0,4.0,108.0,6.92,13.96,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,0
2,0.61,6.0,5.0,97.0,4.23,13.62,-2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,0.14,15.0,8.0,757.0,6.28,23.79,-3,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0
4,0.63,10.0,4.0,1673.0,4.39,17.83,1,0,0,0,1,0,0,0,0,1,1,1,0,0,0,1,0,1

In [61]:
test_pros.shape

(3500, 26)

In [63]:
train_pros.shape

(6500, 26)

In [64]:
train_pros.drop(['TYPE'], axis = 1, inplace = True)
test_pros.drop(['TYPE'], axis = 1, inplace = True)

C:\Users\Suman.Dey\Anaconda3\envs\forecasting\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [67]:
test_pros.drop(['Cost'], axis = 1, inplace = True)

C:\Users\Suman.Dey\Anaconda3\envs\forecasting\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
train_pros.to_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\train_processed.csv', index = False)
test_pros.to_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\test_processed.csv', index = False)